/MyownInstrument/.gradle
/MyownInstrument/local.properties
/MyownInstrument/.idea/workspace.xml
/MyownInstrument/.idea/libraries
/MyownInstrument.DS_Store
/MyownInstrument/build
/MyownInstrument/captures
